<meta charset="UTF-8">
<title><%= title %> </title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- CSS stylesheet-->
<link rel='stylesheet' href='/stylesheets/style.css'/>
